<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>YA803G2_c1.3</display-name>
  <resource-ref>
    <description>DB Connection</description>
    <res-ref-name>jdbc/TestDB</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>BackLoginFilter</filter-name>
    <filter-class>com.tao.blogin.control.BackLoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>BackLoginFilter</filter-name>
    <url-pattern>/back/*</url-pattern>
    <url-pattern>/b/backindex.jsp</url-pattern>
    <url-pattern>/category/Category.jsp</url-pattern>
    <url-pattern>/account/Account.jsp</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>BackLoginPermissionFilter</filter-name>
    <filter-class>com.tao.blogin.control.BackLoginPermissionFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>BackLoginPermissionFilter</filter-name>
    <url-pattern>/back/*</url-pattern>
    <url-pattern>/category/Category.jsp</url-pattern>
    <url-pattern>/account/Account.jsp</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>CaseOverTaskServlet</servlet-name>
    <servlet-class>com.tao.task.CaseOverTaskServlet</servlet-class>
    <init-param>
      <param-name>EnableCaseOverTask</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>COTExecutionPeroid</param-name>
      <param-value>60</param-value>
    </init-param>
    <init-param>
      <param-name>COTFirstExeTime</param-name>
      <param-value>45</param-value>
    </init-param>
    <load-on-startup>5</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>OrderFinishTaskServlet</servlet-name>
    <servlet-class>com.tao.task.OrderFinishTaskServlet</servlet-class>
    <init-param>
      <param-name>EnableOrderFinishTask</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>OFTExecutionPeroid</param-name>
      <param-value>60</param-value>
    </init-param>
    <init-param>
      <param-name>OFTFirstExeTime</param-name>
      <param-value>50</param-value>
    </init-param>
    <load-on-startup>7</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>HitsTaskServlet</servlet-name>
    <servlet-class>com.tao.task.HitsTaskServlet</servlet-class>
    <init-param>
      <param-name>EnableHitsTask</param-name>
      <param-value>on</param-value>
    </init-param>
    <load-on-startup>9</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>RunningAdsScheduleServlet</servlet-name>
    <servlet-class>com.tao.task.RunningAdsScheduleServlet</servlet-class>
    <load-on-startup>10</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>RunningAdsScheduleServlet</servlet-name>
    <url-pattern>/RunningAdsScheduleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MemberLogin</servlet-name>
    <servlet-class>com.tao.jimmy.member.MemberLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberLogin</servlet-name>
    <url-pattern>/MemberLogin</url-pattern>
    <url-pattern>/MemberCenter</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CasesBackController</servlet-name>
    <servlet-class>com.tao.cases.controller.CasesBackController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CasesBackController</servlet-name>
    <url-pattern>/back/cases/cases.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CasesFrontController</servlet-name>
    <servlet-class>com.tao.cases.controller.CasesFrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CasesFrontController</servlet-name>
    <url-pattern>/cases/cases.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CasesAjaxResServlet</servlet-name>
    <servlet-class>com.tao.cases.controller.CasesAjaxResServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CasesAjaxResServlet</servlet-name>
    <url-pattern>/cases/CasesAjaxResServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OrderBackController</servlet-name>
    <servlet-class>com.tao.order.controller.OrderBackController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderBackController</servlet-name>
    <url-pattern>/back/order/order.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OrderFrontController</servlet-name>
    <servlet-class>com.tao.order.controller.OrderFrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderFrontController</servlet-name>
    <url-pattern>/order/order.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OrdResWebOutputServlet</servlet-name>
    <servlet-class>com.tao.order.controller.OrdResWebOutputServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrdResWebOutputServlet</servlet-name>
    <url-pattern>/order/OrdResWebOutputServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OrdResAndroidOutputServlet</servlet-name>
    <servlet-class>com.tao.order.controller.OrdResAndroidOutputServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrdResAndroidOutputServlet</servlet-name>
    <url-pattern>/order/OrdResAndroidOutputServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CaseProductPictureProvider</servlet-name>
    <servlet-class>com.tao.cases.controller.CaseProductPictureProvider</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CaseProductPictureProvider</servlet-name>
    <url-pattern>/caseproduct/Picture</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>/CaseProductController</servlet-name>
    <servlet-class>com.tao.cases.controller.CaseProductController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>/CaseProductController</servlet-name>
    <url-pattern>/caseproduct/caseProduct.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CaseQAController</servlet-name>
    <servlet-class>com.tao.cases.controller.CaseQAController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CaseQAController</servlet-name>
    <url-pattern>/caseqa/caseQA.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MemberServlet</servlet-name>
    <servlet-class>com.tao.member.controller.MemberServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberServlet</servlet-name>
    <url-pattern>/memberC</url-pattern>
    <url-pattern>/back/memberC</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RunningAdServlet</servlet-name>
    <servlet-class>com.tao.runningad.controller.RunningAdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RunningAdServlet</servlet-name>
    <url-pattern>/runningAdC</url-pattern>
    <url-pattern>/back/runningAdC</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LocationServlet</servlet-name>
    <servlet-class>com.tao.location.controller.LocationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LocationServlet</servlet-name>
    <url-pattern>/locationC</url-pattern>
    <url-pattern>/back/locationC</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SearchResultServlet</servlet-name>
    <servlet-class>com.tao.searchresult.controller.SearchResultServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchResultServlet</servlet-name>
    <url-pattern>/search/search.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Hello</servlet-name>
    <servlet-class>com.tao.member.model.Hello</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Hello</servlet-name>
    <url-pattern>/Hello</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DBImgReader</servlet-name>
    <servlet-class>com.tao.member.controller.DBImgReader</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DBImgReader</servlet-name>
    <url-pattern>/DBImgReader</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DBRunningAdImgReader</servlet-name>
    <servlet-class>com.tao.runningad.controller.DBRunningAdImgReader</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DBRunningAdImgReader</servlet-name>
    <url-pattern>/DBRunningAdImgReader</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DBShopImgReader</servlet-name>
    <servlet-class>com.tao.searchresult.controller.DBShopImgReader</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DBShopImgReader</servlet-name>
    <url-pattern>/DBShopImgReader</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DBShopProdImgReader</servlet-name>
    <servlet-class>com.tao.searchresult.controller.DBShopProdImgReader</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DBShopProdImgReader</servlet-name>
    <url-pattern>/DBShopProdImgReader</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginHandler</servlet-name>
    <servlet-class>com.tao.member.controller.LoginHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginHandler</servlet-name>
    <url-pattern>/LoginHandler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RunningImage</display-name>
    <servlet-name>RunningImage</servlet-name>
    <servlet-class>com.tao.memberrunning.control.RunningImage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RunningImage</servlet-name>
    <url-pattern>/RunningImage.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MemberRunningServlet</display-name>
    <servlet-name>MemberRunningServlet</servlet-name>
    <servlet-class>com.tao.memberrunning.control.MemberRunningServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberRunningServlet</servlet-name>
    <url-pattern>/MemberRunningServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HotCaseImage</display-name>
    <servlet-name>HotCaseImage</servlet-name>
    <servlet-class>com.tao.hotcasesandshops.control.HotCaseImage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HotCaseImage</servlet-name>
    <url-pattern>/HotCaseImage.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HotShopImage</display-name>
    <servlet-name>HotShopImage</servlet-name>
    <servlet-class>com.tao.hotcasesandshops.control.HotShopImage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HotShopImage</servlet-name>
    <url-pattern>/HotShopImage.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MemberInfoImage</display-name>
    <servlet-name>MemberInfoImage</servlet-name>
    <servlet-class>com.tao.surfmemberinfo.control.MemberInfoImage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberInfoImage</servlet-name>
    <url-pattern>/MemberInfoImage.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SurfMemberServlet</display-name>
    <servlet-name>SurfMemberServlet</servlet-name>
    <servlet-class>com.tao.surfmemberinfo.control.SurfMemberServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SurfMemberServlet</servlet-name>
    <url-pattern>/SurfMemberServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AccountServlet</display-name>
    <servlet-name>AccountServlet</servlet-name>
    <servlet-class>com.tao.acc.control.AccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountServlet</servlet-name>
    <url-pattern>/Account.do</url-pattern>
    <url-pattern>/back/Account.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CategoryServlet</display-name>
    <servlet-name>CategoryServlet</servlet-name>
    <servlet-class>com.tao.category.control.CategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoryServlet</servlet-name>
    <url-pattern>/Category.do</url-pattern>
    <url-pattern>/back/Category.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BackLoginServlet</display-name>
    <servlet-name>BackLoginServlet</servlet-name>
    <servlet-class>com.tao.blogin.control.BackLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BackLoginServlet</servlet-name>
    <url-pattern>/BackLoginServlet.do</url-pattern>
    <url-pattern>/back/BackLoginServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CalendarServlet</display-name>
    <servlet-name>CalendarServlet</servlet-name>
    <servlet-class>com.tao.calendar.control.CalendarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CalendarServlet</servlet-name>
    <url-pattern>/CalendarServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BackCalendarServlet</servlet-name>
    <servlet-class>com.tao.calendar.control.BackCalendarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BackCalendarServlet</servlet-name>
    <url-pattern>/back/BackCalendarServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>WtdReqServlet</servlet-name>
    <servlet-class>com.tao.wtdReq.controller.WtdReqServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WtdReqServlet</servlet-name>
    <url-pattern>/wtdReq/wtdReq.do</url-pattern>
    <url-pattern>/back/wtdReq/wtdReq.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DpsOrdServlet</servlet-name>
    <servlet-class>com.tao.dpsOrd.controller.DpsOrdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DpsOrdServlet</servlet-name>
    <url-pattern>/dpsOrd/dpsOrd.do</url-pattern>
    <url-pattern>/back/dpsOrd/dpsOrd.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>WishListServlet</servlet-name>
    <servlet-class>com.tao.wishList.controller.WishListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WishListServlet</servlet-name>
    <url-pattern>/wishList/wishList.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShopRepServlet</servlet-name>
    <servlet-class>com.tao.shopRep.controller.ShopRepServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShopRepServlet</servlet-name>
    <url-pattern>/shopRep/shopRep.do</url-pattern>
    <url-pattern>/back/shopRep/shopRep.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CaseRepServlet</servlet-name>
    <servlet-class>com.tao.caseRep.controller.CaseRepServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CaseRepServlet</servlet-name>
    <url-pattern>/caseRep/caseRep.do</url-pattern>
    <url-pattern>/back/caseRep/caseRep.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ListOrderServlet</servlet-name>
    <servlet-class>com.tao.order.controller.ListOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListOrderServlet</servlet-name>
    <url-pattern>/order/listOrder.do</url-pattern>
    <url-pattern>/back/order/listOrder.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateMoneyServlet</servlet-name>
    <servlet-class>com.tao.wtdReq.controller.UpdateMoneyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateMoneyServlet</servlet-name>
    <url-pattern>/wtdReq/updateMoney.do</url-pattern>
    <url-pattern>/back/wtdReq/updateMoney.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateMoneyDpsServlet</servlet-name>
    <servlet-class>com.tao.dpsOrd.controller.UpdateMoneyDpsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateMoneyDpsServlet</servlet-name>
    <url-pattern>/dpsOrd/UpdateMoneyDps.do</url-pattern>
    <url-pattern>/back/dpsOrd/UpdateMoneyDps.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>NewsServlet</servlet-name>
    <servlet-class>com.tao.news.controller.NewsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewsServlet</servlet-name>
    <url-pattern>/news/news.do</url-pattern>
    <url-pattern>/back/news/news.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShopServlet</servlet-name>
    <servlet-class>com.tao.shop.controller.ShopServlet</servlet-class>
    <async-supported>true</async-supported>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShopServlet</servlet-name>
    <url-pattern>/shop/shop.do</url-pattern>
    <url-pattern>/back/shop/shop.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShopproductServlet</servlet-name>
    <servlet-class>com.tao.shopproduct.controller.ShopproductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShopproductServlet</servlet-name>
    <url-pattern>/shopproduct/shopproduct.do</url-pattern>
    <url-pattern>/back/shopproduct/shopproduct.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CancelCaseServlet</servlet-name>
    <servlet-class>com.tao.caseRep.controller.CancelCaseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CancelCaseServlet</servlet-name>
    <url-pattern>/back/cases/CancelCase.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>NewsServletAndroid</servlet-name>
    <servlet-class>com.tao.androidnews.controller.NewsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewsServletAndroid</servlet-name>
    <url-pattern>/NewsServletAndroid</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MemberServletAndroid</servlet-name>
    <servlet-class>com.tao.androidmember.controller.MemberServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberServletAndroid</servlet-name>
    <url-pattern>/MemberServletAndroid</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CasesServlet</servlet-name>
    <servlet-class>com.tao.androidcases.controller.CasesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CasesServlet</servlet-name>
    <url-pattern>/CasesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OrderServlet</servlet-name>
    <servlet-class>com.tao.androidorder.controller.OrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderServlet</servlet-name>
    <url-pattern>/OrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShopServletAndroid</servlet-name>
    <servlet-class>com.tao.androidshop.controller.ShopServletAndroid</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShopServletAndroid</servlet-name>
    <url-pattern>/ShopServletAndroid</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DpsOrdServletAndroid</servlet-name>
    <servlet-class>com.tao.androiddpsOrd.controller.DpsOrdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DpsOrdServletAndroid</servlet-name>
    <url-pattern>/DpsOrdServletAndroid</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>contentType</param-name>
    <param-value>application/json; charset=UTF-8</param-value>
  </context-param>
</web-app>